@import url(./base/variables.css);
@import url(./base/base.css);

@import url(./components/buttons.css);

@import url(./layouts/header.css);
@import url(./sections/hero.css);
@import url(./sections/about.css);
@import url(./sections/catalog.css);
@import url(./sections/features.css);
@import url(./sections/rent.css);
@import url(./sections/review.css);
