.footer-container {
  padding: 0 10px;
}

.footer-box {
  padding: 40px 30px 20px;
  border-radius: 24px 24px 0 0;
  background-color: var(--color-teal-ocean);
}
.footer-header {
  margin-bottom: 40px;
}

.footer-logo {
  color: var(--color-white-soft);
}
.footer-nav {
  margin-bottom: 80px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
.footer-nav-list {
  display: flex;
  gap: 4px;
}

.footer-nav-link {
  display: inline-block;
  padding: 15px 0;
  min-width: 66px;
  background-color: rgba(251, 251, 251, 0.3);
  border-radius: 8px;

  font-size: 9px;
  line-height: 1.3;
  text-transform: uppercase;
  text-align: center;
  color: var(--color-white-soft);

  transition: background-color 0.3s ease-in-out;
}

.footer-nav-link:focus-visible {
  background-color: var(--color-teal-deep);
}

.footer-social {
  display: flex;
  gap: 8px;
  justify-content: center;
}

.footer-social-link {
  color: var(--color-white-soft);
  transition: opacity 0.3s ease-in-out;
}

.footer-social-link:focus-visible {
  opacity: 0.8;
}

.footer-social-icon {
  fill: currentColor;
}
.footer-text {
  margin-bottom: 80px;
  font-size: 18px;
  line-height: 1;
  letter-spacing: -0.02em;
  text-align: center;
  color: var(--color-white-soft);
}

.footer-bottom {
  display: flex;
  justify-content: center;
  gap: 20px;
}
.footer-copy,
.footer-policy {
  font-size: 12px;
  line-height: 1.16667;
  letter-spacing: 0.03em;
  color: rgba(251, 251, 251, 0.4);
}

.footer-policy {
  transition: color 0.3s ease-in-out;
}

.footer-policy:focus-visible {
  color: var(--color-white-soft);
}

@media screen and (min-width: 768px) {
  .footer-container {
    padding: 0 16px;
  }

  .footer-box {
    padding: 50px 48px 20px;
  }

  .footer-header {
    position: relative;
    margin-bottom: 96px;
    display: flex;
    justify-content: space-between;
  }

  .footer-nav {
    margin-bottom: 0;
  }

  .footer-nav-list {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
  }

  .footer-nav-link {
    min-width: 91px;
  }

  .footer-text {
    max-width: 600px;
    margin: 0 auto 100px;
    font-size: 32px;
  }

  .footer-copy,
  .footer-policy {
    font-size: 14px;
    line-height: 1.18;
  }

  .footer-bottom {
    gap: 32px;
  }
}

@media screen and (min-width: 1280px) {
  .footer-container {
    padding: 0 25px;
  }

  .footer-box {
    padding: 50px 75px 20px;
  }

  .footer-text {
    max-width: 640px;
  }
}

@media (hover: hover) and (pointer: fine) {
  .footer-social-link:hover {
    opacity: 0.8;
  }

  .footer-nav-link:hover {
    background-color: var(--color-teal-deep);
  }

  .footer-policy:hover {
    color: var(--color-white-soft);
  }
}
