.features {
  padding: 40px 0;
  overflow: hidden;
}

.features-list {
  margin-bottom: 20px;
  padding: 80px 20px;
  border-radius: 24px;
  background-color: var(--color-teal-ocean);
}
.features-item {
  display: flex;
  flex-direction: column;
}

.features-item:not(:last-child) {
  margin-bottom: 40px;
}

.features-index {
  margin-bottom: 18px;
  font-weight: 500;
  font-size: 28px;
  line-height: 1;
  letter-spacing: -0.05em;
  color: var(--color-white-soft);
}

.features-index::after {
  margin-top: 18px;
  display: block;
  content: '';
  border-radius: 18px;
  height: 2px;
  width: 100%;
  background-color: rgba(251, 251, 251, 0.1);
}

.features-description {
  font-size: 12px;
  line-height: 1.16667;
  letter-spacing: -0.02em;
  color: var(--color-white-soft);
  opacity: 0.8;
}
.features-img {
  border-radius: 24px;
  width: 100%;
  height: 424px;
  object-fit: cover;
}

@media screen and (min-width: 768px) {
  .features {
    padding: 75px 0;
  }

  .features-list {
    margin-bottom: 32px;
    padding: 90px 32px;
    display: flex;
    flex-wrap: wrap;
    gap: 44px 32px;
  }
  .features-item {
    width: calc((100% - 32px) / 2);
  }

  .features-item:not(:last-child) {
    margin-bottom: 0;
  }

  .features-index {
    font-size: 32px;
  }

  .features-description {
    font-size: 13px;
    line-height: 1.15;
  }
}

@media screen and (min-width: 1280px) {
  .features-wrapper {
    display: flex;
    gap: 32px;
  }

  .features-list {
    flex-shrink: 0;
    max-width: 716px;
    padding: 90px 50px;
  }

  .features-img {
    max-width: 432px;
  }
}

@media screen and (min-width: 1440px) {
  .features-list {
    max-width: 768px;
  }

  .features-img {
    max-width: 540px;
  }
}
