.rent {
  padding: 40px 0;
}
.rent-info {
  margin-bottom: 80px;
}
.rent-title {
  margin-bottom: 40px;

  font-weight: 500;
  font-size: 28px;
  line-height: 1;
  letter-spacing: -0.02em;
  color: var(--color-white-soft);
}

.rent-form {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.rent-input,
.rent-textarea {
  padding: 14px 18px;

  width: 100%;
  border: 1px solid rgba(251, 251, 251, 0.2);
  border-radius: 12px;
  background-color: transparent;
  font-size: 12px;
  line-height: 1.16667;
  color: var(--color-white-soft);

  outline: none;

  transition: border-color 0.3s ease-in-out;
}

.rent-input:focus-visible,
.rent-textarea:focus-visible {
  border-color: rgba(251, 251, 251, 0.5);
}

.rent-input {
  margin-bottom: 18px;
  min-height: 42px;
}

.rent-input::placeholder {
  color: rgba(251, 251, 251, 0.4);
}

.rent-textarea {
  margin-bottom: 40px;
  min-height: 108px;
  resize: none;
}
.rent-btn {
  align-self: flex-start;

  border-radius: 15px;
  padding: 0 10px;
  min-width: 122px;
  min-height: 46px;

  font-weight: 500;
  font-size: 14px;
  line-height: 1.28571;
  letter-spacing: -0.02em;
  background-color: var(--color-teal-ocean);
  color: var(--color-white-soft);

  transition:
    background-color 0.3s ease-in-out,
    color 0.3s ease-in-out,
    border-color 0.3s ease-in-out;
}

.rent-btn:focus-visible {
  background-color: var(--color-white-soft);
  color: var(--color-teal-ocean);
}

.rent-img {
  border-radius: 24px;
  width: 100%;
  height: 412px;
  object-fit: cover;
}

@media (hover: hover) and (pointer: fine) {
  .rent-btn:hover {
    background-color: var(--color-white-soft);
    color: var(--color-teal-ocean);
  }

  .rent-input:hover,
  .rent-textarea:hover {
    border-color: rgba(251, 251, 251, 0.5);
  }
}

@media screen and (min-width: 768px) {
  .rent {
    padding: 75px 0;
  }

  .rent-info {
    margin: 0 auto 100px auto;
    max-width: 473px;
  }

  .rent-title {
    margin-bottom: 50px;
    font-size: 48px;
  }

  .rent-input,
  .rent-textarea {
    padding: 17.2px;
    font-size: 14px;
    line-height: 1.28571;
  }

  .rent-input {
    min-height: 54px;
  }

  .rent-textarea {
    margin-bottom: 50px;
    min-height: 116px;
  }

  .rent-btn {
    min-width: 194px;
    min-height: 56px;
    font-size: 18px;
    line-height: 1.1;
  }

  .rent-img {
    height: 534px;
  }
}

@media screen and (min-width: 1280px) {
  .rent-inner {
    display: flex;
    flex-direction: row-reverse;
    gap: 50px;
    width: 100%;
  }
  .rent-info {
    flex: 0 0 472px;
    margin: 0;
  }

  .rent-img {
    max-width: 658px;
    height: 536px;
  }
}

@media screen and (min-width: 1440px) {
  .rent-img {
    max-width: 768px;
  }
}
